# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Proveedor de IA ('gemini' o 'openai')
AI_PROVIDER=gemini
AI_MODEL=gemini-2.0-flash

# API Keys (Puedes configurarlas aquí o directamente en el panel web de Ajustes)
GEMINI_API_KEY=
OPENAI_API_KEY=

# Configuración de Voz (TTS)
TTS_PROVIDER=edge
AI_VOICE_MODEL=es-MX-DaliaNeural
